<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.huawei.deepitm"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeAct"
                android:label="@string/app_name">

        </activity>
        <activity android:name=".ui.VerifyCodeAct" android:label="@string/title_vfcode">

        </activity>
        <activity android:name=".ui.ResetPwdAct" android:label="@string/title_reset">

        </activity>
        <activity android:name=".ui.ChatAct" android:label="@string/title_chat"
                  android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity android:name=".ui.NoticeAct" android:label="@string/title_notice">
        </activity>
        <activity android:name=".ui.DrillDownAct" android:label="@string/title_notice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginAct" android:label="@string/action_sign_in_short">

        </activity>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>
    </application>

</manifest>
